[submodule "vendors/ghostty"]
	path = vendors/ghostty
	url = https://github.com/powdream/ghostty.git
[submodule "vendors/libhangul"]
	path = vendors/libhangul
	url = https://github.com/libhangul/libhangul.git
